<!-- Default Our Hosts -->
<div
    class="hosts-area pt-100 pb-75"
    [ngClass]="{'d-none' : router.url === '/index-2', 'bg-ffffff' : router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title d-flex align-items-center justify-content-between">
            <h2 class="heading-title">Meet Cassie Betts: Tech Boss</h2>
<!--            <a routerLink="/meet-our-hosts">Browse All Hosts <i class="ri-arrow-right-s-line"></i></a>-->
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/v2/cassie-tech-boss.png" alt="image">
                    </div>
<!--                    <div class="hosts-content">-->
<!--                        <h3>Jacob Linoski</h3>-->
<!--                        <span>Art Directory</span>-->
<!--                    </div>-->
                    <ul class="hosts-social">
                        <li>
                            <a href="https://instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                              <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-sm-6">
              <P>Talk Tech To Me- Uncut is what gets us excited about the new world of technology and features Black innovators who are making waves in the tech world. This highly anticipated podcast is geared toward the inevitable and growing diversity movement in all tech industries. Cassie Betts will spotlight dynamic Black & Brown minds from around the world. Cassie is establishing her third successful tech company in South Los Angeles, MARTY and her non-profit MISLA (Made in South LA) has quickly become the hourglass's narrowest point for youth in tech education. What will Cassie Betts' next project be? To find out, tune in live to Talk Tech To Me, Saturdays at 12:00 pm on KBLA Talk 1580.</p>

            </div>
        </div>
    </div>
</div>

<!-- Our Hosts Only for Home Demo - 2 -->
<div
    class="about-area bg-ffffff ptb-100 d-none"
    [ngClass]="{'d-block' : router.url === '/index-2'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-1.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content-wrap with-another-color">
                    <h3>Meet The Host</h3>
                    <span>Hello We Are Jason & Anna ! ! !</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi duiyai felis malesuada mollis purus lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit elementum sed diam luctus etiam amet diam id erat molestie ac magna diam tui vitae suspendisse a libero libero, potenti dui sem ut et vestibulum pellentesque euismod odio proin curabitur molestie.</p>
                    <ul class="about-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
