
<div class="time-section">
  <h2>{{title}}</h2>
  <div class="timer">
    <div class="days">
      <span class="count">{{days}}</span>
      <span class="subtitle">Days</span>
    </div>
    <span class="semi-colon">:</span>
    <div class="hours">
      <span class="count">{{hours}}</span>
      <span class="subtitle">Hours</span>
    </div>
    <span class="semi-colon">:</span>
    <div class="minutes">
      <span class="count">{{minutes}}</span>
      <span class="subtitle">Minutes</span>
    </div>
  </div>
  <!--                            <img src="assets/images/v2/time-live.png" alt="time-live" class="img-fluid" />-->
</div>

