//.timer {
//  font-size: 7rem;
//  line-height: 8rem;
//  color: white;
//  display: flex;
//  align-items: center;
//  justify-content: flex-start;
//  div {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    line-height: 5rem;
//    .subtitle {
//      font-size: 1.3rem;
//      line-height: 0rem;
//    }
//  }
//}
//

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.time-section {
  width: 500px;
  height: 282px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #c533e3, #65a9fd);
  padding: 30px;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .timer {
    display: flex;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    .semi-colon {
      font-size: 5em;height: 110px;
      line-height: 100px;
    }
    .days {
      display: flex;
      flex-direction: column;
      align-items: center;
      .count {
        font-size: 5em;height: 110px;
        line-height: 130px;
      }
      .subtitle {
        margin-top: 20px;
      }
    }
    .hours {
      display: flex;
      flex-direction: column;
      align-items: center;
      .count {font-size: 5em;height: 110px;
        line-height: 130px;
      }
      .subtitle {
        margin-top: 20px;
      }
    }
    .minutes {
      display: flex;
      flex-direction: column;
      align-items: center;
      .count {font-size: 5em;height: 110px;
        line-height: 130px;
      }
      .subtitle {
        margin-top: 20px;
      }
    }
    .seconds {
      display: flex;
      flex-direction: column;
      align-items: center;
      .count {font-size: 5em;height: 110px;
        line-height: 130px;
      }
      .subtitle {
        margin-top: 20px;
      }
    }
  }

  h2 {
    font-weight: 400;
    font-size: 26px;
  }
}
