<div class="time-section">
  <h2>{{title}}</h2>
  <div class="timer">
    <div class="days">
      <span class="count">{{days}}</span>
      <span class="subtitle">days</span>
    </div>
    <span class="semi-colon">:</span>
    <div class="hours">
      <span class="count">{{hours}}</span>
      <span class="subtitle">hours</span>
    </div>
    <span class="semi-colon">:</span>
    <div class="minutes">
      <span class="count">{{minutes}}</span>
      <span class="subtitle">minutes</span>
    </div>
    <span class="semi-colon">:</span>
    <div class="seconds">
      <span class="count">{{seconds}}</span>
      <span class="subtitle">seconds</span>
    </div>
  </div>
</div>


