<footer class="footer-area">
  <div class="footer-top pt-100 pb-100">
    <div class="container-fluid bg-black">
      <div class="container">
        <div class="row justify-content-center align-items-center pt-100 pb-100">
          <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget">
              <div class="widget-logo">
                <a routerLink="/">
                  <img src="assets/images/TTTM_uncut_profile_pic.jpg" alt="image" />
                </a>
              </div>
              <p>Talk Tech To Me, where Technology is the new sexy, Black Geeks are the new superheroes, and South Central LA is the new Tech Mecca.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget pl-10">
              <h3>
                <img src="assets/images/v2/kblo-footer-logo.png" alt="image" />
              </h3>
              <ul class="widget-info">
                <li>
                  <a href="#" class="footer-link active fs-1 fw-bold">
                    Tune In Live!
                  </a>
                </li>
                <li>
                  <a href="#" class="footer-link">
                    Every Saturday 12pm
                  </a>
                </li>
                <li>
                  <a href="https://kbla1580.com" target="_blank" ref="noopener noreferrer" class="footer-link">
                    kbla1580.com
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget">
              <h1 class="color-text">Follow Us On:</h1>
              <ul class="widget-social">
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="flaticon-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-area m-0">
          <p>Copyright @2022  Talk Tech To Me</p>
        </div>
      </div>
    </div>
  </div>
</footer>
