<footer class="footer-area">
  <div class="footer-top">
    <div class="container-fluid bg-black">
      <div class="container">
        <div class="row justify-content-center align-items-center pt-100 pb-100">
          <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget">
              <div class="widget-logo">
                <a routerLink="/">
                  <img src="assets/images/TTTM_uncut_profile_pic.jpg" alt="image" />
                </a>
              </div>
              <p>Talk Tech To Me, where Technology is the new sexy, Black Geeks are the new superheroes, and South Central LA is the new Tech Mecca.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget pl-10">
              <h3>
                <img src="assets/images/v2/kblo-footer-logo.png" alt="image" />
              </h3>
              <ul class="widget-info">
                <li>
                  <a href="#" class="footer-link active fs-1 fw-bold">
                    Tune In Live!
                  </a>
                </li>
                <li>
                  <a href="#" class="footer-link">
                    Every Saturday 12pm
                  </a>
                </li>
                <li>
                  <a href="https://kbla1580.com" target="_blank" ref="noopener noreferrer" class="footer-link">
                    kbla1580.com
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget">
              <h1 class="color-text">Follow Us On:</h1>
              <ul class="widget-social">
                <!-- <li>
                  <a href="https://instagram.com/talktechtomepod?igshid=YmMyMTA2M2Y=" target="_blank">
                    <i class="flaticon-instagram"></i>
                  </a>
                </li> -->
                <li>
                  <a href="https://www.instagram.com/talktechtomepod/" target="_blank" ref="noopener noreferrer">
                    <img src="assets/images/icons8-instagram-96.svg" alt="instagram icon" />
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/talktechtomepod" target="_blank" ref="noopener noreferrer">
                    <img src="assets/images/icons8-twitter-100.svg" alt="twitter icon" />
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Talk-Tech-to-Me-Podcast-105968852163105" target="_blank" ref="noopener noreferrer">
                    <img src="assets/images/icons8-facebook-f-100.svg" alt="facebook icon" />
                  </a>
                </li>
                <li>
                  <a href="https://www.snapchat.com/add/talktechtomepod?share_id=EA8mGyxzri4&locale=en-GB" target="_blank" ref="noopener noreferrer">
                    <img src="assets/images/icons8-snapchat-100.svg" alt="snapchat icon" />
                  </a>
                </li>
                <li>
                  <a href="https://www.tiktok.com/@talktechtomepod" target="_blank" ref="noopener noreferrer">
                    <img src="assets/images/icons8-tiktok-96.svg" alt="tiktok icon" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" ref="noopener noreferrer">
                    <img src="assets/images/icons8-youtube-96.svg" alt="youtube icon" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-area m-0 border-0">
          <div class="d-flex align-items-center justify-content-center gap-4">
            <p class="mb-0 copyright-text"><a href="/">TTTM</a> Copyright © 2023 - All Rights Reserved. Made by <img src="assets/images/v2/marty.png" alt="image" /></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
